
*{
    margin: 0;
    padding: 0;
}


ul{
    display: inline-flex;
    list-style-type: none;
    margin: 3% ;
}

ul li{
    
    padding: 10px;
}

a {
    
    color: white;
    text-decoration: none;
}

.activeNavLink{
    color:yellow
}


#loginDiv{
    display: flex;
    float: right;
    margin: 3%;
    padding: 0.5% 1.25%;
  }
  
  nav{
    height: 92px;
    background-color: black;
    color: white;
  }
  
  #loginBtn {
    border-radius: 0.5rem;
    margin-left: 4%;
    padding: 2.5% 2.75%;
  }
  
  #loginBtn:hover{
    cursor: pointer;
  }
  
  #loginInput{
    border-radius: 0.5rem;
    padding: 2.5% 1.75%;
    outline: none;
  }