
*{
    margin: 0;
    padding: 0;
}


ul{
    display: inline-flex;
    list-style-type: none;
    margin: 3% ;
}

ul li{
    padding: 10px;
    
}

a {
    color: white;
    text-decoration: none;
}