
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 92px;
    background-color: black;
    color: white;
}

#loginBtn{
    float: right;
    margin: 3%;
    padding: 0.5% 1.25%;
}

ul{
    display: inline-flex;
    list-style-type: none;
    margin: 3% ;
}

ul li{
    
}